<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <title>Namor Demo</title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script phx-track-static defer type="text/javascript" src={~p"/assets/app.js"} />
  </head>
  <body class="bg-slate-900">
    <%= @inner_content %>
  </body>
</html>
